#hobby {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(#40C4FF 0%, #76FF03 100%);
    color: white;
    padding-top: 200px;
    z-index: 9;
    font-family: Dancing Script;
}

#about {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    padding-top: 200px;
    z-index: 9;
    background-color: cyan;
}

body {
    text-align: center;
}

h1 {
    font-weight: 300;
    font-family: Pacifico;
}

#Image {
    width: 200px;
    border-radius: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 200px;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.line {
    height: 6px;
    width: 300px;
    background-color: black;
    margin: 8px auto;
}

.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 25px;
    color: white;
    font-family: Pacifico;
}

.links:hover {
    background-color: #ff6b0f;
}

p {
    font-family: Dancing Script;
    font-size: 20px;
}

#about {
    width: 100%;
    background-color: cyan;
    font-family: Dancing Script;
}

html {
    scroll-behavior: smooth;
}
